.Guestbook {
  width: 540px;
  margin: 0 auto;
  background-color: #fff;

  h2 {
    background-color: yellow;
    color: #5c5c5c;
    text-align: left;
    margin-bottom: 10px;
    background: url("../../../images/component/guestbook/guestbook.png") 0 0
      no-repeat;
    background-size: 35px;
    padding-left: 40px;
    height: 35px;
    line-height: 35px;
  }
}
